@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

body {
  font-family: "Bebas Neue", cursive;
}

.navbar-nav .nav-link {
  letter-spacing: 0.7px;
  font-size: 100%;
  color: whitesmoke !important;
  cursor: pointer;
}


.title {
  font-family: "Special Elite", cursive;
}

@media (max-width: 767px) {
  .navbar-collapse .nav-link:hover {
    background: #f54f33;
    padding-left: 0.6rem;
  }
}

@media (min-width: 768px) {
  .navbar-collapse .nav-link:focus {
    border-bottom: 0.2rem solid #f54f33;
  }

}

.navbar-toggler {
  box-shadow: none !important;
  border: none !important;
}


.navbar-toggler:hover {
  background-color: #f54f33 !important;
}
